@CHARSET "UTF-8";
.container-wrap article:first-child{
	background:url("back.jpg") no-repeat center 0;
  background-attachment: fixed;
  background-size:cover;
  position:relative;}
  
.container-wrap article:last-child{
	background:url("back.jpg") no-repeat center center;
  background-attachment: fixed;	
  background-size:cover;}

.container01{
	paddin:10% 0;} 

.container01  p{
	text-align:center;
	font-size:50px;
	color:#fff;
	padding:15% 0;}

.container01  p span{
	display:block;
	line-height:70px;
	font-weight:bold;}
		
.profile-img{
	width:20%;
	margin:0 auto;
	position:absolute;
	bottom:-20%;
	left:0;
	right:0;
}

.container02{
	backgound:none;
	height:50rem;
	padding:10% 0;}	
	
.myself  {
	width: 100%;
	height: 30rem;
	padding:10% 0;
	display: flex;
	align-items: center;
	justify-content: space-around;}
	

.myself p {
	width: 30%;
    transform: translateX(-50vw);
	opacity: 0;
	height:100%;
	transition: all, 2s;}
	
.myself p.in-view {
    transform: translateX(0vw);
	opacity: 1;}
	
.myself-in {
	height: 100%;;
	width: 50%;
	border:2px solid blue;
    transform: translateX(-50vw);
	opacity: 0;
	transition: all, 2s;}
	
.myself-in.in-view {
	opacity: 1;
	transform: translateX(0vw);}

.container03{
	height:400px;}
	
@media screen and (max-width:700px){
	.container01  p{
	font-size:4rem;}

	.container01  p span{
	line-height:70px;}
}