@charset "UTF-8";

/* 주문목록 페이지  */

body section{
	background:url("background.jpg")no-repeat center top;
	background-size:cover;/*  배경을 포함한 인터넷 창의 해당하는 크기를 포함한*/
	height:100%;
	width:100%;
	position:fixed;/*  위치를 고정한다 */}
	
.orderlist_wrap{
}

.term-select{
	width:90%;
    overflow: hidden;/* 하위의 것들을 포함 및 */
	margin:5% auto;
}

.term-select ul li{
	overflow: hidden;
    float: left;
    margin-right: 7%;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 13px;
    height: 25px;
    width: 45px;
}

.term-select ul li input{
	width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    color: #fff;
}

.term-select ul li.active{
	background: #486bcd;
}
.term-select ul li:last-child{
	margin:0;
}

.type05{
	width:90%;
	margin: 0 auto;
	text-align:center;
	background:rgba(255,255,255,0.5);
	border-radius:15px;
}
.type05 .title{
	height: 50px;
    line-height: 50px;
}
.type05 tbody{
    border-top: 1px solid rgba(0,0,0,0.3);
}
.type05 tbody tr{
	height:40px;
}
.type05 tbody tr.order-line-end{
	border-bottom:1px solid rgba(0,0,0,0.3);
}

@media screen and (max-width:700px){
	
	.orderlist_wrap{
	font-size:1rem}
	
	.term-select ul li{
    height: 2rem;
    width: 3.5rem;
    margin-right:5%;
	}
}