@charset "UTF-8";
.product-search-wrap form{
	border-collapse: collapse;
	padding:1% 0;
	width:50%;
	margin:4% auto;
	background:rgba(255,255,255,0.8);
	border-radius:100px;
	border:2px solid gray;}

.product-search-wrap form select{
	padding-right:0;
	width:25%;
	text-align:center;
	text-align-last:center;}
	
.product-search-wrap form select option{
	display:inline-block;
	text-align:left;}

.product-search-wrap [name=searchValue]{
	width:60%;}

.product-search-wrap [value="검색"]{
	margin-left:2%;
	width:10%;}
	
body section{
	background:url("background.jpg")no-repeat center top;
	background-size:cover;
	height:100%;
	width:100%;
	position:fixed;}
	
.tb_product_wrap{
	padding-bottom:7%;}
	
.tb_product_wrap table,
#cartform table{
	width:80%;
	margin:0 auto;
	background:rgba(255,255,255,0.7);
	text-align:center;
	border-radius:10px;}
	
.tb_product_wrap table thead,
#cartform table thead{
	font-size:1.5rem;
	line-height:4rem;
	border-bottom:1px solid rgba(0,0,0,0.4);}

.tb_product_wrap table tbody,
#cartform table tbody{
	font-size:1.5rem;
	line-height:4rem;}
	
.page-selection{
	width:80%;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	height:5%;}
	
.page-selection ol{
	width:200px;
	display:block;
	overflow:hidden;
	position:absolute;
	bottom:0;
	right:0;
	font-size:1.5rem;}
	
.page-selection ol li{
	float:left;
	text-align:center;}
	
.page-selection ol li a{display:block;}
.page-selection ol li a::after{
	content:">";
	margin-left:10px;}
	
.page-selection ol li:last-child a::after{content:"";}
	
.page-selection ol li:nth-child(1){width:40px}
.page-selection ol li:nth-child(2){width:80px}
.page-selection ol li:nth-child(3){width:80px}

.product-detail{
	width:80%;
	height:400px;
	margin:4% auto 0 auto;
	overflow:hidden;}
	
.product-detail .product-img{
	width:60%;
	height:100%;
	background:#fff;
	float:left;}
	
.product-detail form{
	float:right;
	width:40%;
	height:100%;}
	
.product-detail form table{
	height:80%;}
.product-detail form table td{
	width:100%;
	float:left;
	line-height:80px}
	
.product-detail form table td input{
	text-align:center;}
#btCart{
    background: #343434;
    border-radius: 20px;
	color:#fff;
	font-weight:bold;
	width:80%;
	margin-left:10%;
	margin-top:15px;
	padding:20px 0}
	
#price{position:relative}
#price span{position:absolute;
top:0;
bottom:0;
right:25%;}
.product-detail form table td.quantity-title{width:50%;text-align:right;}
.product-detail form table td.quantity-input{width:50%}
product-detail form table td.quantity-input input{
	width:100%;
	padding-right:25%;}
	
.cartlist-title{
	font-size: 30px;
    display: block;
    line-height: 35px;
    margin-top:5%;
    text-align: center;
    width: 100%;	
}

.cart-wrap .cart-table{
	width:90%;
	margin: 5% auto 0 auto;
	font-size:20px;
	font-height:25px;
	text-align:center;
	background:rgba(255,255,255,0.7);
	border-radius:20px}

.cart-table thead{
	line-height:50px;
	border-bottom:1px solid gray;
}
.cart-table tbody{
    letter-spacing: -1px;
    font-size: 17px;
    line-height: 60px;
}
.cart-table tbody .cart-btn{
    line-height: 60px;
}
.cart-btn{
	width:70%;
	display:block;
	height:5%;
	margin: 5% auto;
	color:#fff;
	border-radius:20px;
    background: #343434;
}


@media screen and (max-width:700px){
	.product-search-wrap form{
	width:70%;
	padding:1.5% 0;}
	
	.product-detail{height:100%;}
	.product-detail .product-img{
	height:30%;
	width:100%;}
	.product-detail form,
	#cartform table{width:100%}
	#cartform table{
	margin-top:5%}
	
	#cartform table tbody tr{
	height:1rem}
	
	.cart-wrap .cart-table{
	font-size:1.5rem;
	font-height:2rem;}
	
	.cart-table thead{
	line-height:5rem;}
	
	.cart-table tbody{
	font-size:1.3rem;
    line-height: 4rem;}
	
	.cart-table tbody .cart-btn{
    line-height: 6rem;
}
	
}

