<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">

	<select id="selectByNo" resultType="Product">
		select * from product where prod_no= #{prod_no}
	</select>

	<select id="selectAll" resultType="Product">
		select * from product
	</select>

	<select id="selectByName" resultType="Product">
		select * from product where prod_name like '%' || #{prod_name] || '%'
	</select>

	<update id="updateList" parameterType="Product">
		update product set
		prod_name = #{prod_name} , prod_price = #{prod_price} where prod_no =
		#{prod_no}
	</update>

	<delete id="deleteList" parameterType="String">
		delete product where
		prod_no= #{prod_no}
	</delete>

	<insert id="insert">
		insert into product values ( #{prod_no},
		#{prod_name},#{prod_price})
	</insert>

	<select id="selectByPage" parameterType="hashmap" resultType="Product">
		select * from
		(select rownum as rnum, a.*
		from product a
		<where>
			<if test="prod_no != null">
				prod_no like '%' || #{prod_no} || '%'
			</if>
			<if test="prod_name != null">
				prod_name like '%' || #{prod_name} || '%'
			</if>
			<if test="prod_price != null">
				prod_price = #{prod_price}
			</if>
		</where>
		)
		WHERE rnum between #{startRow} AND #{endRow}
		order by prod_no desc
	</select>

	<!-- <select id="selectAll" resultType="Product"> SELECT * from product 
		<where> <if test="prod_no != null"> prod_no like '%' || #{prod_no} || '%' 
		</if> <if test="prod_name != null"> prod_name like '%' || #{prod_name} || 
		'%' </if> <if test="prod_price != null"> prod_price = #{prod_price} </if> 
		</where> </select> -->



</mapper>