<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RepBoardMapper">

	<select id="selectList" resultType="RepBoard">
		select * from ( select *
		from (
		select rownum rnum, level, no, parent_no, DECODE(level,1,SUBJECT,CONCAT( LPAD(' ',level*3,' '), CONCAT('└ ',SUBJECT))) SUBJECT
		, content, password, registerdate, viewcount
		from repboard
		<include refid="repboard_search"></include>
		start with parent_no = 0
		connect by prior no = parent_no
		order siblings by no desc
		) replist
		where rnum &lt;= (#{pageStart} + #{perPageNum})
		)
		where rnum &gt;= #{pageStart}
	</select>

	<select id="countPaging" resultType="int">
		select count(no) from repboard
		<include refid="repboard_search"></include>
	</select>

	<sql id="repboard_search">
		<where>
			<if test=" keyword != null and keyword !=''">
				${searchType} like '%' || #{keyword} || '%'
			</if>
		</where>
	</sql>

	<insert id="insert" parameterType="RepBoard">
		insert into repboard values (repboard_seq.NEXTVAL,
		#{parent_no}, #{subject}, #{content}, #{password}, sysdate, 0)
	</insert>

	<select id="selectByNo" resultType="RepBoard">
		SELECT level, a.*
		from repboard a
		start with no=#{no}
		connect by prior no=parent_no
		order siblings by no desc
	</select>

	<delete id="delete">
		DELETE repboard WHERE no=#{no}
	</delete>

	<select id="chkpassword" parameterType="hashmap" resultType="RepBoard">
		SELECT * FROM repboard WHERE
		no=#{no} AND password=#{password}
	</select>

	<update id="update" parameterType="RepBoard">
		update repboard
		<set>
			<if test="subject != null">subject=#{subject},</if>
			<if test="content != null">content=#{content},</if>
			<if test="password != null">password=#{password}</if>
		</set>
		where no=#{no}
	</update>

</mapper>
